/Java/NetBeansProjects/WebApp/HelloWeb/nbproject/private/
/Java/NetBeansProjects/WebApp/HelloWeb/build/
/Java/NetBeansProjects/SimpleEE6/SimpleEE6App/nbproject/private/
/Java/NetBeansProjects/SimpleEE6/SimpleEE6App/build/
/Java/NetBeansProjects/servlets/exServlet/nbproject/private/
/Java/NetBeansProjects/servlets/exServlet/build/
/Java/NetBeansProjects/Jody/TaxCalc/nbproject/private/
/Java/NetBeansProjects/Jody/TaxCalc/build/
/Java/NetBeansProjects/Jody/TaxCalc/dist/